/.idea
/tmp
/wp-core/wp-config-sample.php
/wp-core/.htaccess
/wp-core/license.txt
/wp-core/readme.html
/wp-core/wp-content
/wp-core/wp-content/*
/wp-content/debug.log
/wp-content/upgrade
/wp-content/uploads/*
!/wp-content/uploads/.gitkeep
/wp-content/cache/*
!/wp-content/cache/.gitkeep
!/wp-content/cache/styles/.gitkeep
!/wp-content/cache/scripts/.gitkeep
/wp-content/plugins/akismet
/wp-content/plugins/hello.php
/wp-content/themes/*
!wp-content/themes/index.php
#!/wp-content/themes/example/*
